/* GLOBALI */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cecece;
}

h2 {
  color: darkred;
}

p {
  margin: 10px 0;
  font-size: 14px;
}

img[alt="Profilo"], [alt="copertina"]{
  width: 150px;
  border-radius: 20%;
  margin-top: 5px;
}

button[name="scopri"]{
  background-color: darkred;
  font-size: 16px;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

i[class~="fab"]{
  font-size: 2em;
  margin: 0 10px;
}
/* CLASSI */

.container{
  width: 80vw;
  height: 100vh;
  background-color: #DDDDDD;
  margin: auto;
  padding: 5%;
}

.col-left{
  width: 40%;
  float: left;
}

.col-right{
  width: 50%;
  float: right;
}
.main-back{
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border-radius: 3%;
  text-align: center;
  padding: 10px;
}

.biografia{
 margin-bottom: 10px;
}

.exp{
 /* Aggiungere proprietà */
}

.contact{
 margin-bottom: 10px;
}

.content:after{
  content: "";
  display: table;
  clear: both;
}
