/* GLOBALI */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cecece;
}

/* CLASSI */

.container{
  width: 80vw;
  height: 100vh;
  background-color: #DDDDDD;
  margin: auto;
  padding: 5%;
}

.col-left{
  width: 40%;
  float: left;
}

.col-right{
  width: 50%;
  float: right;
}
.main-back{
  background-color: white;
  border-radius: 3%;
  text-align: center;
}

.biografia{
 margin-bottom: 10px;
}

.exp{
/* iNSERIAMO DOPO I SELETTORI */
}

.contact{
 margin-bottom: 10px;
}

.content:after{
  content: "";
  display: table;
  clear: both;
}
